<!-- <p id="notice"><%= notice %></p> -->
<div class="home-banner">
<h1>Cocktails</h1>
</div>
  <body>
    <% @cocktails.each do |cocktail| %>
      <ul>
        <il><%= cocktail.name %></il>
        <!-- <td><%#= cocktail.banner_url %></td> -->
        <il class="Show btn btn-light"><%= link_to 'Show', cocktail_path(cocktail) %></il>
        <il class="Destroy btn btn-dark"><%= link_to 'Destroy', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } %></il>
      </ul>
    <% end %>
    <td><%= link_to 'New', new_cocktail_path %></td>
  </body>
</div>


